html {
    color: white;
    font-family: sans-serif;
}
#main-container {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, red , yellow);
    box-sizing: border-box;
}
#projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.project {
    border: 10px solid orangered;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 0 20px yellow;
    transition: 0.2s all;
    background-color: orange;
}
.project:hover {
    border: 10px solid white;
    box-shadow: 0 0 50px white;
    transition: 0.2s all;
}