html {
    color: white;
}
#main-container {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, red , yellow);
}